/**
 * 
 * Configurations for adonis-rbac
 * 
 * Permission format: <resource>.<operation>
 * e.g: posts.index, posts.update, posts.delete
 * 
 * tip: define roles sorting by permissions asc.
 */
module.exports = {
  roles: {
    // <roleName>: [...<permissions>]
    user: ['posts.index', 'posts.show'],

    // use `role:<roleName>` to grant all permissions for <roleName>
    editor: ['role:user', 'posts.create', 'posts.update'],

    // use `posts.*` to allow all operations for posts
    admin: ['role:editor', 'posts.*'],

    // use `*` to grant all permissions
    system: ['*']
  },
}